body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(138, 233, 119);
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

#prev,
#next {
  border: 2px solid whitesmoke;
  z-index: 100;
}

button#next {
  position: absolute;
  top: 50vh;
  right: 5vh;
}

button#prev {
  position: absolute;
  top: 50vh;
  left: 5vh;
}

:focus {
  outline-offset: 0px;
  outline: 2px solid blue;
}

#thumb-container {
  display: flex;
  height: 10vh;
  width: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 100;
  gap: 2px;
  position: absolute;
  overflow: scroll;
}
#thumb-container img {
  height: 10vh;
  cursor: pointer;
}

.large-image {
  display: flex;
  justify-content: center;
}

.large-image img {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  object-fit: cover;
}

footer {
  text-align: center;
  margin: 0;
  padding: 0;
}
p {
  padding: 3px;
}
